.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

input{
  width: 350px;
}

.search-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

table {
  margin: 20px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 410px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  font-size: 12px;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
